@if(program && isDataLoaded){
<mat-card class="program-detail-container">
  <mat-card-title> {{ program.name }} </mat-card-title>
  <mat-card-content>
    <ngx-slick-carousel
      class="program-slider"
      #slickModal="slick-carousel"
      [config]="slideConfig"
    >
      <div ngxSlickItem *ngFor="let img of sanitizedImages" class="slide">
        <img [src]="img" alt="{{ img }}" class="program-image" />
      </div>
    </ngx-slick-carousel>
    <p class="category">Category: {{ program.category.name }}</p>
    <p class="difficulty">
      Difficulty Level:
      <span [ngStyle]="{ color: getColor(program.difficultyLevel) }">
        {{ program.difficultyLevel }}
      </span>
    </p>
    <p class="duration">
      Duration:
      {{ program.startDate | date }} - {{ program.endDate | date }}
    </p>
    <p class="price">{{ program.price | currency : "USD" : "symbol" }}</p>
    <p class="location">{{ program.location }}</p>
    <p class="description">{{ program.description }}</p>

    <div
      *ngIf="program.specificAttributes.length > 0"
      class="specific-attributes"
    >
      <h3>Specific Attributes</h3>
      <div
        class="attribute"
        *ngFor="let attribute of program.specificAttributes"
      >
        <span class="attribute-name">{{ attribute.name }}:</span>
        <span class="attribute-value">{{ attribute.value }}</span>
      </div>
    </div>

    <div>
      <p class="instructor">Contact: {{ program.instructor.email }}</p>
    </div>

    <mat-card-actions class="actions">
      <button
        (click)="editProgram(program)"
        mat-stroked-button
        class="edit-button"
      >
        <mat-icon>edit</mat-icon>
        Edit
      </button>
      <button
        mat-stroked-button
        color="primary"
        (click)="deleteProgram(program.id)"
      >
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
<div class="footer-spacer"></div>
} @else{
<div class="spinner-div">
  <div class="spinner"></div>
</div>
}

<app-comment-list [program]="this.program"></app-comment-list>
