.activity-log-container {
  padding: 20px;
}

mat-card {
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 10px;
}

mat-card-title {
  font-weight: bold;
  color: var(--mdc-text-button-label-text-color, var(--mat-app-primary));
}

mat-card-content p {
  margin: 5px 0;
}

.full-width {
  width: 100%;
}
ngx-charts {
  font-size: 14px; /* Povećaj veličinu fonta */
  font-weight: bold; /* Podebljaj tekst za bolju vidljivost */
  color: #000000; /* Podesi da boja teksta bude crna */
}

ngx-charts text {
  fill: #000000 !important; /* Osiguraj da tekst unutar grafikona bude crne boje */
}
