.participation-list-container {
  padding: 20px;
}

mat-card {
  margin-bottom: 15px;
  padding: 10px;
  box-shadow: 0 4px 5px gray;
}

mat-card-title {
  font-weight: bold;
  color: var(--mdc-text-button-label-text-color, var(--mat-app-primary));
}

mat-card-content p {
  margin: 5px 0;
}

.error-message {
  color: red;
  font-size: 18px;
  margin: 20px 0;
  text-align: center;
}
