:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
mat-card {
  margin: 40px auto 40px auto;
  width: 350px;

  box-shadow: 2px 2px 5px gray;
}
mat-card-title {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
  color: rgb(204, 102, 122);
}
mat-form-field {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

button {
  width: 100%;
  font-size: 18px;
}

.link-wrapper {
  margin: 0 auto;
  text-align: center;
}

.link-wrapper {
  margin-top: 10px;
  text-align: center;
}
