<app-filter
  [isOwnPrograms]="true"
  (filtersApplied)="onFiltersApplied($event)"
></app-filter>
<div class="program-list-container">
  @if(isDataLoaded){
  <h2 class="title">My Fitness Programs</h2>

  @if(error){
  <div class="error-message">
    <p>{{ error }}</p>
  </div>
  } @else{
  <div class="program-list">
    <mat-card *ngFor="let program of myPrograms" class="program-card">
      <mat-card-content>
        <img
          [src]="'http://localhost:8080' + program.images[0]"
          alt="{{ program.name }}"
          class="program-image"
        />
        <h3>{{ program.name }}</h3>
        <p class="price">
          {{ program.price | currency : "USD" : "symbol" }}
        </p>
      </mat-card-content>
      <mat-card-actions class="card-actions">
        <button
          mat-stroked-button
          color="primary"
          [routerLink]="['/my-programs', program.id]"
        >
          View Details
        </button>
        <button
          mat-icon-button
          color="warn"
          (click)="deleteProgram(program.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  } } @else {
  <div class="spinner-div">
    <div class="spinner"></div>
  </div>
  }

  <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    (page)="onPageChange($event)"
    [pageSizeOptions]="[5, 10, 25, 100]"
  ></mat-paginator>
</div>
