<app-filter
  [isOwnPrograms]="false"
  (filtersApplied)="onFiltersApplied($event)"
></app-filter>
<div class="program-list-container">
  @if(isDataLoaded){
  <h2 class="title">Available Fitness Programs</h2>

  @if(error){
  <div class="error-message">
    <p>{{ error }}</p>
  </div>
  } @else{

  <div class="program-list">
    <mat-card *ngFor="let program of programs" class="program-card">
      <mat-card-content>
        <img
          *ngIf="program?.images?.length ?? false"
          [src]="'http://localhost:8080' + program.images[0]"
          alt="{{ program.name }}"
          class="program-image"
        />
        <h3>{{ program.name }}</h3>
        <p class="price">{{ program.price | currency : "USD" : "symbol" }}</p>
      </mat-card-content>
      <mat-card-actions class="card-actions">
        <button mat-button [routerLink]="['/programs', program.id]">
          View Details
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  } } @else {
  <div class="spinner-div">
    <div class="spinner"></div>
  </div>
  }

  <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    (page)="onPageChange($event)"
    [pageSizeOptions]="[5, 10, 25, 100]"
  ></mat-paginator>
</div>
