.payment-title {
  font-size: 32px;
  font-weight: bold;
  margin: 20px;
  text-align: center;
  color: #333;
}

.full-width {
  width: 100%;
}

.exp-cvc-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.exp-date {
  flex: 1;
}

.cvc-code {
  width: 100px;
}
