<mat-toolbar class="app-toolbar">
  <span class="app-logo">FitFlex</span>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon> Menu
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/']">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item [routerLink]="['/exercises']">
      <mat-icon>fitness_center</mat-icon>
      <span>Exercises</span>
    </button>
    <button mat-menu-item [routerLink]="['/programs']">
      <mat-icon>assignment</mat-icon>
      <span>Programs</span>
    </button>
    <button mat-menu-item [routerLink]="['/my-programs']">
      <mat-icon>assignment</mat-icon>
      <span>My Programs</span>
    </button>
    <button mat-menu-item [routerLink]="['/about']">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>
  </mat-menu>

  <span class="spacer"></span>
  <button mat-button [routerLink]="['/login']">Login</button>
</mat-toolbar>

<router-outlet></router-outlet>
