<mat-toolbar class="app-toolbar">
  <button mat-button class="app-logo" [routerLink]="['/']">FitFlex</button>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon> Menu
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/']">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item [routerLink]="['/exercises']">
      <mat-icon>fitness_center</mat-icon>
      <span>Exercises</span>
    </button>
    <button mat-menu-item [routerLink]="['/programs']">
      <mat-icon>assignment</mat-icon>
      <span>Programs</span>
    </button>
    <button mat-menu-item [routerLink]="['/my-programs']">
      <mat-icon>assignment</mat-icon>
      <span>My Programs</span>
    </button>
  </mat-menu>
  <button [routerLink]="['/add-program']" mat-button>New program</button>
  <button routerLink="/participations" mat-button>My Participations</button>
  <button routerLink="/activity-log" mat-button>Activity log</button>
  <button routerLink="/message-list" mat-button>Message List</button>
  <span class="spacer"></span>
  <button mat-icon-button (click)="openDialog()">
    <mat-icon>message</mat-icon>
  </button>
  <button mat-icon-button [routerLink]="['/login']">
    <mat-icon>login</mat-icon>
  </button>
  <!-- <button mat-button [routerLink]="['/login']">Login</button> -->
</mat-toolbar>

<router-outlet></router-outlet>
