html,
:host,
body {
  height: 100%;
}

.app-toolbar {
  background-color: rgb(186, 0, 92);
}

.app-logo {
  font-weight: bold;
  color: #ffffff;
}

.app-logo.mat-mdc-button {
  font-size: 1.5rem;
}

.mat-mdc-button {
  font-size: 1.3rem;
}
.mat-mdc-button:not(:disabled) {
  color: #fff;
}
mat-icon {
  margin-right: 8px;
  color: #ffffff;
}

.spacer {
  flex: 1 1 auto;
}
