<mat-card>
  <mat-card-title>
    <ng-container *ngIf="isEditMode; else newProgram">
      Edit program
    </ng-container>
    <ng-template #newProgram> New program </ng-template>
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()" #form="ngForm">
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>person</mat-icon>
        <mat-label>Instructor</mat-label>
        <input formControlName="userId" matInput type="text" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput type="text" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
          formControlName="description"
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="5"
          cdkAutosizeMaxRows="10"
        ></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select formControlName="categoryId">
          <mat-option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      @if (addForm.get('specificAttributes')) {
      <div formGroupName="specificAttributes">
        <div *ngFor="let attr of specificAttributes">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{ attr.name }}</mat-label>
            <input
              matInput
              [formControlName]="attr.name"
              name="{{ attr.name }}"
            />
          </mat-form-field>
        </div>
      </div>
      }
      <mat-form-field appearance="outline">
        <mat-label>Difficulty level</mat-label>
        <mat-select formControlName="difficultyLevel">
          <mat-option *ngFor="let level of difficultyLevels" [value]="level">
            {{ level }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Start Date</mat-label>
        <input
          formControlName="startDate"
          matInput
          [matDatepicker]="startDatePicker"
        />
        <mat-datepicker-toggle
          matPrefix
          [for]="startDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>End Date</mat-label>
        <input
          formControlName="endDate"
          matInput
          [matDatepicker]="endDatePicker"
        />

        <mat-datepicker-toggle
          matPrefix
          [for]="endDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
      @if(addForm.hasError('dateInvalid')){
      <mat-error class="error">Start date cannot be after end date.</mat-error>
      }

      <mat-form-field appearance="outline">
        <mat-icon matPrefix>attach_money</mat-icon>
        <mat-label>Price</mat-label>
        <input formControlName="price" matInput type="number" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-icon matPrefix>location_on</mat-icon>
        <mat-label>Location</mat-label>
        <input formControlName="location" matInput type="text" />
      </mat-form-field>

      @if(showLinkField){
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>link</mat-icon>
        <mat-label>Youtube Link</mat-label>
        <input formControlName="youtubeLink" matInput type="text" />
      </mat-form-field>
      }

      <mat-form-field appearance="outline">
        <mat-icon matPrefix>local_phone</mat-icon>
        <mat-label>Contact</mat-label>
        <input formControlName="contact" matInput type="text" />
      </mat-form-field>

      <div class="avatar-container" *ngIf="files.length > 0; else noImages">
        <ngx-slick-carousel
          class="program-slider"
          #slickModal="slick-carousel"
          [config]="slideConfig"
        >
          <div
            ngxSlickItem
            *ngFor="let img of files; let i = index"
            class="slide"
          >
            <img [src]="img" alt="{{ img }}" class="program-image" />
            <button mat-icon-button type="button" (click)="removeImage(i)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </ngx-slick-carousel>
      </div>

      <ng-template #noImages>
        <div class="image-container">
          <mat-icon>image</mat-icon>
        </div>
      </ng-template>

      <label for="avatar-input-file">
        <div class="icon-wrapper">
          <input
            formControlName="images"
            type="file"
            id="avatar-input-file"
            accept="image/*"
            multiple
            (change)="onFileChange($event)"
          />
          <p>Add images</p>
        </div>
      </label>

      <button class="add-button" color="primary" mat-raised-button>
        <ng-container *ngIf="isEditMode; else addProgram"> Save </ng-container>
        <ng-template #addProgram>Add program</ng-template>
      </button>
    </form>
  </mat-card-content>
</mat-card>
<div class="footer-spacer"></div>
