<mat-card>
  <mat-card-title>Update Profile</mat-card-title>
  <mat-card-content>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="avatar-container">
        <div
          class="image-container"
          *ngIf="file; else placeholder"
          [ngClass]="{ 'box-shadow-avatar': !!file }"
          [ngStyle]="{ 'background-image': 'url(' + file + ')' }"
        ></div>

        <ng-template #placeholder>
          <div class="image-container avatar-placeholder"></div>
        </ng-template>

        <label for="avatar-input-file">
          <div class="icon-wrapper">
            <input
              type="file"
              id="avatar-input-file"
              accept="image/*"
              (change)="onFileChange($event)"
            />
            <mat-icon class="icon" fontIcon="edit"></mat-icon>
          </div>
        </label>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput formControlName="city" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          type="password"
          placeholder="Leave empty to keep current password"
        />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        Update Profile
      </button>
    </form>
  </mat-card-content>
</mat-card>
<div class="footer-spacer"></div>
