<div class="comment-list-container">
  <h2>Comments</h2>
  <div *ngFor="let comment of comments">
    <mat-card class="comment-container">
      <mat-card-header class="comment-header">
        <mat-card-title class="username"
          >{{ comment.user.firstName }}
          {{ comment.user.lastName }}</mat-card-title
        >

        <span class="comment-date">{{ comment.createdAt | date }}</span>
      </mat-card-header>
      <mat-card-content class="comment-body">
        {{ comment.content }}
      </mat-card-content>
      @if(comment.userId == 31){
      <mat-card-actions class="comment-actions">
        <button mat-button (click)="deleteComment(comment.id)">Delete</button>
      </mat-card-actions>
      }
    </mat-card>
  </div>

  <form [formGroup]="commentForm" (ngSubmit)="submitComment()">
    <textarea
      matInput
      style="width: 100%"
      placeholder="Write a comment..."
      cdkTextareaAutosize
      cdkAutosizeMinRows="3"
      cdkAutosizeMaxRows="10"
      #content
      required
      formControlName="comment"
    ></textarea
    ><br />
    <button mat-flat-button type="submit" color="primary">Comment</button>
  </form>
</div>
